<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebPad</title>
    
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    
    <script src="~/js/knockout-3.4.2.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/vis.css" asp-append-version="true"/>
    <script src="~/js/vis.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>
<body>
@RenderBody()
</body>
</html>
