<!DOCTYPE html>
<html>
<head>
    <title>WebPad</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#333333" />
    <meta name="application-name" content="WebPad">
    <meta name="msapplication-TileColor" content="#333333">
    

    <meta name="description" content="WebPad is a linked-data concept for personal usage.
    Structure your knowledge in encrypted, personal and distributed fashion.
      Your data is never exposed in plain-text to our servers.
      Whether it will be mindmap, semantic web, project dependency management, family tree, knowledge graph or groceries list - your privacy is important for us.">
    <meta name="keywords" content="linked-data, linked data, knowledge graph,
     semantic web, semantic graph, encrypted, distributed, personal,
      family tree, mindmap, graph editor, graph, graph editor online">
    <meta name="author" content="Kryvonos Oleksandr">

    
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    
    <script src="~/js/knockout-3.4.2.js" asp-append-version="true"></script>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <link rel="apple-touch-icon" sizes="32x32" href="/WebPad_logo_32.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/WebPad_logo_57.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/WebPad_logo_57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/WebPad_logo_60.png">
    <link rel="apple-touch-icon" sizes="64x64" href="/WebPad_logo_64.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/WebPad_logo_72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/WebPad_logo_76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/WebPad_logo_114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/WebPad_logo_120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/WebPad_logo_144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/WebPad_logo_152.png">
    <link rel="apple-touch-icon" sizes="250x250" href="/WebPad_logo_250.png">
    <link rel="apple-touch-icon" sizes="500x500" href="/WebPad_logo_500.png">

</head>
<body style="margin: 0">
@RenderBody()
</body>
</html>
