@{
}


<div style="text-align: center; width: 100%; margin-top: 20mm;">
    <div style="display: inline-block;">
        <div class="disable-selection webpad-node webpad-orange webpad-left">WebPad</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">privacy</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">
            <a 
                href="~/"
            >
                I am already a user
            </a>
        </div>
        <div class="disable-selection webpad-node webpad-green webpad-left">synchronization</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">tags</div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">indie app</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">security</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">aliases</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">instant try</div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">encrypted</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">
            <a 
                href="https://github.com/uprun/WebPad"
                target="blank"
            >
                open-source
            </a>
        </div>
        <div class="disable-selection webpad-node webpad-green webpad-left">dark theme</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">responsive</div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">structured</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">notes</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">mobile friendly</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">
            <a 
                href="https://visjs.org/index.html"
                target="blank"
            >
                vis.js
            </a>
        </div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">no-login required</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">
            <a 
                href="https://wwwtyro.github.io/cryptico/"
                target="blank"
            >
                cryptico
            </a>
        </div>
        <div class="disable-selection webpad-node webpad-green webpad-left">mindmap</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">
            <a 
                href="https://knockoutjs.com/"
                target="blank"
            >
                knockout
            </a>
        </div>
        <div class="disable-selection webpad-node webpad-orange webpad-left">family tree</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">linked data</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">knowledge web</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">
            this is a foundation
        </div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">of this app</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">i solo-develop</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">in a spare time</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">the WebPad</div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">
            <a 
                href="~/studio"
            >
                open the studio
            </a>
        </div>

    </div>
</div>
