@{
}
<style>
    button
    {
        background: #97c2fc;
    }
    input
    {
        background: #97c2fc;
    }
    a 
    {
        color: orange;
    }
    body 
    {
        background-color:#333333;
    }
</style>
<div style="text-align: center; width: 100%; margin-top: 60px; color: #2b7ce9; ">
    <h2>About WebPad</h2>
    <h3><a href="~/">WebPad</a> is a distributed crypto graph web-app. </h3>
    <h3>Which you can use for: creating mindmap, keeping notes, connecting data, visualization family tree, creating personalized knowledge graph.</h3>
    <h3>Initial idea was to create the notes keeping app with features I lack in other apps.</h3>
    <h3>Features list:</h3>
    <h3>
        <ul>
            <li>
                Data is never exposed to the server in plain-text it is always encrypted on client-side.
            </li>
            <li>
                Synchronization among user devices.
            </li>
            <li>
                No login, no e-mail are required. 
            </li>
            <li>
                Start to use from first seconds.
            </li>
            <li>
                Source code is open and available <a href="https://github.com/uprun/ConnectedNotes">here</a>.
            </li>
        </ul>
    </h3>


    <h3>Libraries which are used: </h3>
    <h3>
        <ul>
            <li>
                <a href="http://visjs.org/index.html">Vis.js - A dynamic, browser based visualization library.</a>
            </li>
            <li>
                <a href="http://wwwtyro.github.io/cryptico/">Cryptico - An easy-to-use encryption system utilizing RSA and AES for javascript.</a>
            </li>
            <li>
                <a href="https://knockoutjs.com/">Knockout - Dynamic javascript UI library with declarative bindings.</a>
            </li>
        </ul>
    </h3>
</div>
