@{
}
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

<div class="w3-container" >
    <div class="w3-row">
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-blue-print webpad-left">do not panic</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-orange webpad-right">i have</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-yellow webpad-left">#tags</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-purple webpad-right">i solo-develop this</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-green webpad-left">note taking app</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-blue-print webpad-right">where</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-purple webpad-left">privacy is a priority</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-green webpad-right">where</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-yellow webpad-left">you can link your notes</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-orange webpad-right">by the way</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-yellow webpad-left">did i mention that</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-blue-print webpad-right">no-login required</span>
                </div>
            </div>
        </div>
        <div class="w3-col w3-container s12 m12 l12">
            <div style="text-align: center; width: 100%;">
                <div class="webpad-inline-flex">
                    <span class="webpad-node webpad-green webpad-left">
                        <a 
                            href="~/ideas"
                        >
                            try the WebPad now
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>