<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <title>WebPad</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#333333" />
    <meta name="application-name" content="WebPad">
    <meta name="msapplication-TileColor" content="#333333">
    

    <meta name="description" content="Wiki, personal wiki.">
    <meta name="keywords" content="wiki, personal wiki, personal-wiki, todo, note taking app, note-taking, link notes">
    <meta name="author" content="Kryvonos Oleksandr">

    <!-- Facebook's OpenGraph protocol meta start -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="WebPad" />
    
    <meta property="og:image" content="https://webpad.com.ua/WebPad_logo_500.png" />
    <meta property="og:image:secure_url" content="https://webpad.com.ua/WebPad_logo_500.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:alt" content="The WebPad logo that consists of 4 colored lightning symbol, that l: orange, purple, green and yellow." />

    <meta property="og:url" content="https://webpad.com.ua/" />
    <meta property="og:description" content="Wiki, personal wiki." />
    <meta property="og:determiner" content="the" />
    <meta property="og:site_name" content="WebPad" />
    <meta property="og:video" content="https://www.youtube.com/watch?v=SxVn7iSVn3A" />
    <!-- Facebook's OpenGraph protocol meta end -->
    
    <link rel="manifest" href="json/manifest.json" asp-append-version="true">
    <script src="lib/jquery/jquery.js" asp-append-version="true"></script>
    
    <script src="lib/knockout/knockout-latest.debug.js" asp-append-version="true"></script>


    <link rel="stylesheet" href="css/site.css" asp-append-version="true"/>

    <link rel="apple-touch-icon" sizes="32x32" href="/WebPad_logo_32.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/WebPad_logo_57.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/WebPad_logo_57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/WebPad_logo_60.png">
    <link rel="apple-touch-icon" sizes="64x64" href="/WebPad_logo_64.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/WebPad_logo_72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/WebPad_logo_76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/WebPad_logo_114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/WebPad_logo_120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/WebPad_logo_144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/WebPad_logo_152.png">
    <link rel="apple-touch-icon" sizes="250x250" href="/WebPad_logo_250.png">
    <link rel="apple-touch-icon" sizes="500x500" href="/WebPad_logo_500.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/WebPad_logo_512.png">

</head>
<body class='night' style="background-color: #000000; margin: 0; " data-bind="style: { background: $root.backgroundColor() }">

        @* <script>
        if('serviceWorker' in navigator) {
          navigator.serviceWorker
                   .register('service-worker-offline.js', { scope: '/' })
                   .then(
                    function(registration) 
                    {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    });
        }
        </script> *@
        
        <link rel="stylesheet" href="css/w3-4.13.css" asp-append-version="true"> 
        
        <link rel="stylesheet" href="css/site.css" asp-append-version="true"/>
        <script language="JavaScript" type="text/javascript" src="js/knockout-extension-contentEditable.js" asp-append-version="true"></script>

        
        <script language="JavaScript" type="text/javascript" src="js/model_Connection.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/model_Node.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/model_ColorPreset.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/model_Card.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/lookup.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/scrollToCard.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/findNodeById.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/findEdgeById.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/processMessageFromOuterSpace.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/defineLocalStorage.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/findCardByMainNodeId.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/jumpToCardOnCreate.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/jumpToCardFromWord.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/jumpToCardFromQuote.js" asp-append-version="true"></script>

        <script language="JavaScript" type="text/javascript" src="js/SearchNotesQuery.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/pushToSearchNotesQuery.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/pushToSearchNotesQueryText.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/scrollToOnListChanged.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/rollbackSearchNotesQuery.js" asp-append-version="true"></script>

        <script language="JavaScript" type="text/javascript" src="js/GetRandomColor.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/MigrationOfColorOfNode.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/switchExpandedCardTagsList.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/switchAdditionalInformationText.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/searchBarKeyPress.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/additionalInfoKeyPress.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/pushToHistory.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/Instanciate_model_node.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/ConnectNotes.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/CreateNote.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/RemoveConnection.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/RemoveNote.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/migrateConnectionToNode.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/Instanciate_model_connection.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/changeBackground.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/toggleMenu.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/getViewPortSize.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/getViewPortScrollPosition.js" asp-append-version="true"></script>
        
        <script language="JavaScript" type="text/javascript" src="js/loadNotes.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/toBeEdited.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/taggedOrQuotedCard.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/export.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/import.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/mainPage.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/cardAfterRender.js" asp-append-version="true"></script>
        <script language="JavaScript" type="text/javascript" src="js/document_ready_ideas.js" asp-append-version="true"></script>
        
        
        <div vocab="https://schema.org/"
            typeof="WebApplication" style="display: none;">
            <span property="name" >WebPad</span>
            <span property="description">wiki, personal wiki.</span>
            <span property="accessMode">textual</span>
            <div property="offers" typeof="Offer">
                Price: $<span property="price">0.00</span>
                <meta property="priceCurrency" content="USD" />
                <span property="description">unlimited* sync between devices forever*, well until this web-site is running.</span>
            </div>
            <span property="operatingSystem">Windows</span>
            <span property="operatingSystem">Linux</span>
            <span property="operatingSystem">MacOs</span>
            <span property="operatingSystem">iOs</span>
            <span property="operatingSystem">Android</span>
            <span property="image">https://webpad.com.ua/WebPad_logo_500.png</span>
        
        </div>
        
        <div vocab="https://schema.org/"
            typeof="Organization" style="display: none;">
            <span property="url" >https://webpad.com.ua</span>
            <span property="logo">https://webpad.com.ua/WebPad_logo_500.png</span>
        </div>
        
        <!-- <div  style="text-align: center; width: 100%; margin-top: 0px; display: inline-block; display: none;" data-bind="visible: !$root.PromoVisible()">
            <span class="webpad-node webpad-green">WebPad</span> <span class="webpad-node webpad-orange" data-bind="click: $root.ShowPromo"><a href="#">about</a></span>
            <span data-bind="if: $root.isOnLine" >
                <span class="webpad-node webpad-green">[online]</span>
            </span>
            <span data-bind="ifnot: $root.isOnLine" >
                <span class="webpad-node webpad-orange">[offline]</span>
            </span>
            <span data-bind="if: $root.publicCryptoKey() != null  &&
                        $root.publicCryptoKey() != undefined &&
                        $root.publicCryptoKey().trim() != '' ">
        
                        <span data-bind="ifnot: $root.SyncOptionsVisible" >
                            <button class="webpad-node webpad-green" data-bind="click: $root.OpenSyncOptions">Open Sync</button>
                        </span>
                        <span data-bind="if: $root.SyncOptionsVisible" >
                            <button class="webpad-node webpad-orange" data-bind="click: $root.HideSyncOptions">Hide Sync</button>
                        </span>
                        <div data-bind="if: $root.SyncOptionsVisible" >
                            <button class="webpad-node webpad-green" data-bind="click: $root.iHaveSyncToken">I already have sync token</button>
                            <button class="webpad-node webpad-blue-print" data-bind="click: $root.GetOneTimeSynchronizationToken">What sync token? Generate one.</button>
                            <div data-bind="if: $root.OpenTokenGenerationMenu">
                                <br/>
                                <span class="webpad-node webpad-green" >Share this sync token:&nbsp;</span>
                                <span class="webpad-node webpad-blue-print" data-bind="text: $root.TokenToShare"></span>
                                <br/>
                                <span class="webpad-node webpad-orange">You have to receive this check code:&nbsp;</span>
                                <span class="webpad-node webpad-yellow" data-bind="text: $root.publicCryptoKey().substring(0, 10) + '...' "></span>
                                <br/>
        
                            </div>
                            <div data-bind="if: $root.OpenTokenConsumptionMenu">
                                <span class="webpad-node webpad-orange">
                                    <input 
                                        placeholder="Input sync token..." 
                                        style="width: 30vw; min-width: 150px;" 
                                        type="text" 
                                        data-bind="
                                            textInput: $root.SynchronizationToken,
                                            " />
        
                                </span>
                                
                                <br/>
                                <button class="webpad-node webpad-blue-print" data-bind="click: $root.SynchronizeUsingToken"> Use sync token</button>
                                <br/>
                                
                                <span class="webpad-node webpad-orange">Code for other side:&nbsp;</span>
                                <span class="webpad-node webpad-yellow" data-bind="text: $root.publicCryptoKey().substring(0, 10) + '...' "></span>
                                
        
                            </div>
                            <div data-bind="if: $root.ReceivedPublicKey() != null  &&
                                    $root.ReceivedPublicKey() != undefined &&
                                    $root.ReceivedPublicKey().trim() != '' " >
                                <span class="webpad-node webpad-green">Received check code:&nbsp;</span>
                                <span class="webpad-node webpad-yellow" data-bind="text: $root.ReceivedPublicKey().substring(0, 10) + '...' "></span>
                                <br/>
                                <span class="webpad-node webpad-blue-print" data-bind=>
                                    Do you trust to this ? 
                                </span>
                                <button class="webpad-node webpad-green" data-bind="click: $root.AddReceivedPublicKeyToTrusted"> Trust</button>
                                <button class="webpad-node webpad-orange" data-bind="click: $root.RemoveReceivedPublicKey"> No-no-no</button>
        
                            </div>
                        </div>
        
            </span>
            
        </div> -->
        
        <!-- background-image: linear-gradient(to bottom right, #3900d9, #d6920b); -->
        
        <!-- border-color: aliceblue;
        border-width: 5px;
        border-style: dashed; -->
        
        <!-- border-width: 5px;
            border-style: dashed;
            border-image: linear-gradient(to bottom right, #3900d9, #d6920b) 1;
        
        } -->
        
        <script type="text/html" id="tag-template">
                <span data-bind="if: $parent.toolBoxVisible">
                    <div 
                        class="webpad-brightness-dimmed webpad-button-no-border" 
                        style="border-style: solid; border-width: 0.2rem; border-color: #f8e755; border-radius: 0.7rem; font-size: 1.4rem;"
                        data-bind=" click: $parent.removeTag, with: $data.originalTag ">
                        <img src="svg/trash-orange.svg" class="webpad-edit-pencil" style="margin-left: 0.5rem;" alt="Edit"/> 
                        <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                        <span class="" style=" vertical-align: middle; margin-right: 0.5rem;"
                            data-bind="style: 
                            {
                                color: $data.Destination.color
                            },
                            text: $data.Destination.text
                            "
                            alt="hashTagBeginSymbol"></span>
                        
                    </div>
                </span>
                <span data-bind="ifnot: $parent.toolBoxVisible ">
                    <span >
                        <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                        <!-- ko template: { name: 'text-with-dictionary-template', data: $data }  -->
                        <!-- /ko -->
                    </span>
                </span>
                
        </script>
        
        <script type="text/html" id="additional-toolbox-template">
            
            <span class="webpad-extra-information-plus-icon" data-bind="ifnot: $data.AdditionalInformationTextVisible">
                &nbsp;
                <span>
                    <div
                        class="webpad-brightness-dimmed webpad-button-no-border" 
                        style="border-style: solid; border-width: 0.2rem; border-color: #f8e755; border-radius: 0.7rem; font-size: 1.4rem;"
                        data-bind=" click: $root.switchAdditionalInformationText">
                        <span class="" style="color: #84bfff; vertical-align: middle; margin-left: 0.5rem;" alt="hashTagBeginSymbol"></span>
                        <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                        <img src="svg/plus.svg" class="webpad-edit-pencil" style="margin-right: 0.5rem;" alt="Edit"/> 
                    </div>
                </span>
                &nbsp;
                <span
                    data-bind="ifnot: $data.isTask()" >
                    <div
                        class="webpad-brightness-dimmed webpad-button-no-border" 
                        style="border-style: solid; border-width: 0.2rem; border-color: #f8e755; border-radius: 0.7rem; font-size: 1.4rem;"
                        data-bind=" click: $data.convertToTask">
                        <img src="svg/plus.svg" class="webpad-edit-pencil" style="margin-left: 0.5rem;" alt="Edit"/> 
                        <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                        <span class="" style="color: #84bfff; vertical-align: middle; margin-right: 0.5rem;" alt="hashTagBeginSymbol"> task</span>
                    </div>
                </span>
            </span>
        </script>

        <script type="text/html" id="to-be-removed-template">
            <span data-bind="if: $data.toBeRemoved">
                <span data-bind="ifnot: $data.completlyRemoved">
                    <h2>
                        <span 
                                placeholder="..." 
                                class="webpad-contenteditable webpad-break-words-node"
                                data-bind="
                                    contentEditable: false,
                                    htmlLazy:  $data.Note.text,
                                    style:
                                    {
                                        color: $data.Note.color,
                                    }
                                    " 
                            ></span>
                        <div>
                            <h1 style="color: aliceblue;"  > 
                                <div class="webpad-brightness-dimmed webpad-button-no-border" data-bind=" ">
                                    <img src="svg/trash-orange.svg" class="webpad-edit-pencil" alt="removal?"/> 
                                </div>
                                <span class="webpad-brightness-dimmed" style="color: aliceblue;" data-bind=" ">?</span>
                                <div class="webpad-button-no-border webpad-golden-frame" data-bind=" click: $data.rollbackRemoval">
                                    <img src="svg/times-green.svg" class="webpad-edit-pencil" style="margin-left: 0.5em; margin-right: 0.5em;" alt="rollback removal"/> 
                                </div>
                                &nbsp;&nbsp;
                                <div class="webpad-button-no-border webpad-golden-frame" data-bind=" click: $data.reallyRemove">
                                    <img src="svg/thumbs-up-orange.svg" class="webpad-edit-pencil" style="margin-left: 0.5em; margin-right: 0.5em;" alt="really remove"/> 
                                </div>
                            </h1>
                        </div>
                        
                    </h2>
                </span>
                <span data-bind="if: $data.completlyRemoved">
                    <br/>
                    <br/>
                    <span class="webpad-brightness-dimmed" style="color: aliceblue;" >removing...</span>
                </span>
                
            </span>
        </script>
        
        <script type="text/html" id="text-with-dictionary-template">
            <!-- ko foreach: $data.textSplitted -->
                <!-- ko if: $data.isUrl -->
                    <a class="webpad-break-words-node" target="_blank" data-bind="
                        text: word,
                        style:
                        {
                            color: $parent.color,
                            'word-break': word.length < 20 ? 'break-word' : 'break-all',
                        },
                        attr:
                        {
                            href: word
                        }
                            ">
                    </a>
                <!-- /ko -->
                <!-- ko ifnot: $data.isUrl -->
                    <!-- ko if: $data.exists -->
                        <span class="webpad-break-words-node webpad-border-bottom-dotted" data-bind="
                            text: word,
                            style:
                            {
                                color: $parent.color,
                                'border-color': wordNode.color,
                                'border-bottom-style': word.length < 3 ? 'solid' : 'dotted',
                                'word-break': word.length < 20 ? 'break-word' : 'break-all',
                            },
                            click: $root.jumpToCardFromWord
                                ">
                        </span>
                    <!-- /ko -->
                    <!-- ko ifnot: $data.exists -->
                        <span class="webpad-break-words-node" data-bind="
                            text: word,
                            style:
                            {
                                color: $parent.color,
                                'word-break': word.length < 20 ? 'break-word' : 'break-all',
                            },
                                ">
                        </span>
                    <!-- /ko -->
                <!-- /ko -->
                
                
            <!-- /ko -->
        </script>

        <script type="text/html" id="referenced-card-template">
            <div
                style="border-style: solid; border-image: linear-gradient(to bottom right, #3900d9, #d6920b) 1; border-width: 0.2rem; border-radius: 0.7rem; font-size: 1rem; margin-left: 1rem; margin-right: 1rem;"
            >
                <span data-bind="
                    style:
                    {
                        'text-decoration-line': ($data.Note.isDone() && $data.isTask()) ? 'line-through' : 'none',
                        'text-decoration-color': $data.Note.color
                    }, 
                    css: {strike: ($data.Note.isDone() && $data.isTask()) }">
                    <!-- ko template: { name: 'text-with-dictionary-template', data: $data.Note }  -->
                    <!-- /ko -->
                </span>
                <!-- ko if: $data.SmallTagsWrapped().length > 0  -->
                    <br/>
                    <span data-bind="template: { name: 'tag-template', foreach: $data.SmallTagsWrapped } " >
                    </span>
                <!-- /ko -->
            </div>
            <div class="webpad-hide-on-small-screen" style="height: 1rem;">
            </div>
        </script>
        
        <script type="text/html" id="card-template">
                <div class="w3-col w3-container s12 m12 l12">
                    <div 
                        style="font-size: 1.3rem;" 
                        class="webpad-card w3-animate-opacity" 
                        data-bind="attr: {id: $data.Note.id }, click: $data.switchToolBoxVisibility">
                        <!-- ko template: { name: 'to-be-removed-template' }  -->
                        <!-- /ko -->
                        <span data-bind="ifnot: $data.toBeRemoved">
                            <!-- ko foreach: $data.Note.ReferencedByWrapped  -->
                                <div class="webpad-quote webpad-brightness-dimmed ">
                                    <!-- ko template: { name: 'text-with-dictionary-template', data: $data }  -->
                                    <!-- /ko -->
                                    &nbsp;
                                    <div class="webpad-button-no-border webpad-brightness-dimmed" style="font-size: 1.4em;" data-bind=" click: $root.jumpToCardFromQuote">
                                        <img src="svg/search.svg" class="webpad-edit-pencil" alt="jump to quote source"/> 
                                    </div>
                                </div>
                                
                            <!-- /ko -->
                            <span>
                                <span data-bind="if: $data.isTask()" style="font-size: 1.4em;">
                                    <span data-bind="if: $data.Note.isDone">
                                        <span class="webpad-brightness-dimmed" style="color: #64e05e;" data-bind=" click: $data.switchDone">[x]</span>
                                    </span>
                                    <span data-bind="ifnot: $data.Note.isDone">
                                        <span class="webpad-brightness-dimmed" style="color: aliceblue;" data-bind=" click: $data.switchDone">[o]</span>
                                    </span>
                                </span>
                                
                                <span data-bind="
                                    style:
                                    {
                                        'text-decoration-line': ($data.Note.isDone() && $data.isTask()) ? 'line-through' : 'none',
                                        'text-decoration-color': $data.Note.color
                                    }, 
                                    css: {strike: ($data.Note.isDone() && $data.isTask()) }">
                                    <!-- ko template: { name: 'text-with-dictionary-template', data: $data.Note }  -->
                                    <!-- /ko -->
                                </span>
                                <span data-bind="if: $data.toolBoxVisible">
                                    <span  class="w3-animate-opacity webpad-brightness-dimmed">
                                        <div class="webpad-button-no-border webpad-brightness-dimmed" style="  margin-left: 0.5rem;" >
                                            <img src="svg/quote-left.svg" class="webpad-edit-pencil" alt="jump to quote source"/> 
                                            <span style="color: #84bfff;  vertical-align: middle;" data-bind="text: ': ' + $data.BigTags().length">
                                            </span>
                                        </div>
                                        &nbsp;
                                        <div 
                                            class="webpad-brightness-dimmed webpad-button-no-border webpad-glass-button" 
                                            style="border-style: solid; border-width: 0.2rem; border-color: #f8e755; border-radius: 0.7rem; font-size: 1.4rem;"
                                            data-bind=" click: $root.pushToSearchNotesQuery">   
                                            <img src="svg/search.svg" class="webpad-edit-pencil" style="margin-left: 0.5rem;"  alt="jump to quote source"/> 
                                            <span class="" style="color: #84bfff; vertical-align: middle;" alt="hashTagBeginSymbol"></span>
                                            <img src="svg/quote-left.svg" class="webpad-edit-pencil" style="margin-right: 0.5rem;" alt="jump to quote source"/> 
                                        </div>
                                    </span>
                                </span>
                                
                            </span>
                            <span data-bind="if: $data.toolBoxVisible">
                                <div style="font-size: 0.8rem;" class="w3-animate-opacity webpad-brightness-dimmed"  >
                                    <span style="color: aliceblue;  vertical-align: middle;" data-bind="text: $data.Note.createDate">
                                    </span>
                                </div>
                                
                                
                                

                            </span>
                            <!-- tool-box menu-->
                            <span style="font-size: 2rem;">

                                <span
                                    
                                    data-bind="if: $data.toolBoxVisible">
                                    <span class="w3-animate-opacity" >
                                        <span>
                                            <div class="webpad-brightness-dimmed webpad-button-no-border webpad-golden-frame" data-bind=" click: $root.beginToEdit">
                                                <img src="svg/pencil-alt.svg" class="webpad-edit-pencil" style="margin-left: 0.5em; margin-right: 0.5em;" alt="Edit"/> 
                                            </div>
                                        </span>
                                        
                                        &nbsp;
                                        <div class="webpad-brightness-dimmed webpad-button-no-border webpad-golden-frame" data-bind=" click: $data.prepareToBeRemoved">
                                            <img src="svg/trash-orange.svg" class="webpad-edit-pencil" style="margin-left: 0.5em; margin-right: 0.5em;" alt="remove"/> 
                                        </div>
                                        
                                    </span>
                                    
                                </span> 
                            </span>
                            <!-- tool-box menu: end -->
                            <!-- ko if: $data.SmallTagsWrapped().length > 0  -->
                                <br/>
                                <span data-bind="template: { name: 'tag-template', foreach: $data.SmallTagsWrapped } " >
                                </span>
                            <!-- /ko -->
                            
                            
                            
                            

                            <span data-bind="if: $data.toolBoxVisible">
                                <span style="font-size: 1.4rem;" class="w3-animate-opacity" data-bind="template: { name: 'additional-toolbox-template' } " >
                                </span>
                            </span>
                            
                            <div class="webpad-hide-on-small-screen" style="height: 2em;">
                            </div>
                            
                            
                        </span>
                       
        
                        
                        
                    </div>
                    
                    
                    
                </div>
        </script>

        <script type="text/html" id="show-more-template">
                <div class="w3-row" data-bind="if: $root.ShowExtendCurrentResultLimit">
                   <div class="w3-col w3-container s12 m12 l12">
                       <span style="font-size: 2rem;">                    
                            <button  class="webpad-node webpad-green" 
                                data-bind=
                                    "click: $root.ExtendCurrentResultLimit,
                                    text: 'Show more items ( ' + $root.NumberOfHiddenSearhItems() + ' hidden)'">
                            </button>
                        </span>
                   </div>
                </div>
        </script>
        <div id="webpad-header-absolute-position" class="webpad-header-absolute-position" style="display: none;" data-bind="visible: !$root.PromoVisible() && !$root.menuIsOpen()">
            <div class="w3-row">
                <div class="w3-col w3-container s12 m12 l12">
                    <div class=" webpad-button-no-border" data-bind="click: $root.toggleMenu">
                        <span style="font-size: 2rem;">
                            <img src="svg/bars.svg" class="webpad-edit-pencil" alt="open menu"/> 
                        </span>
                        
                    </div>
                    <span class="webpad-color-yellow" style="font-size: 2rem;">
                        Web
                    </span>
                    <span class="webpad-color-blue" style="font-size: 2rem;">
                        Pad
                    </span>

                    <span class="webpad-color-yellow webpad-hide-on-small-screen" style="font-size: 2rem;">
                        : personal wiki
                    </span>
                    <span class="webpad-color-yellow webpad-hide-on-large-screen" style="font-size: 1.3rem;">
                        : personal wiki
                    </span>
                </div>
            </div>
        </div>
        <div 
            class="webpad-menu-absolute-position webpad-menu-animate-left" 
            style="display: none;" 
            data-bind="
                visible: !$root.PromoVisible() && $root.menuWasAlreadyOpen(),
                css: { 
                    'webpad-menu-animate-show-from-left': $root.menuIsOpen(),
                    'webpad-menu-animate-fade-back': !$root.menuIsOpen()
                }">
            <div class="w3-row webpad-top-of-stack">
                <div class="w3-col w3-container s12 m12 l12">
                    <span class="webpad-color-yellow" style="font-size: 2rem;">
                        Web
                    </span>
                    <span class="webpad-color-blue" style="font-size: 2rem;">
                        Pad
                    </span>
                    <span class="webpad-color-yellow webpad-hide-on-small-screen" style="font-size: 2rem;">
                        : options
                    </span>
                    <span class="webpad-color-yellow webpad-hide-on-large-screen" style="font-size: 1.3rem;">
                        : options
                    </span>
                    <div style="float: right;" class=" webpad-button-no-border" data-bind="click: $root.toggleMenu">
                        <span style="font-size: 2rem;">
                            <img src="svg/times-close-menu.svg" class="webpad-edit-pencil" alt="close menu"/> 
                        </span>
                        
                    </div>
                </div>
                <div class="w3-col w3-container s12 m12 l12">
                    <button style="font-size: 1.4rem; " class="webpad-node webpad-blue-print" 
                            data-bind="click: $root.changeBackground">
                            gray background
                    </button>
                    <button style="font-size: 1.4rem;" class="webpad-node webpad-yellow" 
                            data-bind="click: $root.changeBackgroundToDefault">
                            dark background
                    </button>
                </div>
                <div class="w3-col w3-container s12 m12 l12">
                    <button style="font-size: 1.4rem; " class="webpad-node webpad-blue-print" 
                            data-bind="click: $root.export">
                            export
                    </button>
                </div>
                <div class="w3-col w3-container s12 m12 l12">
                    <label for="importSnapshotFile" style="color: yellow;">Select a snapshot file to import:</label>
                    <br/>
                    <input type="file" id="importSnapshotFile" style="width: 20rem; color: yellow;" >
                    <button style="font-size: 1.4rem;" class="webpad-node webpad-yellow" 
                            data-bind="click: $root.import">
                            import
                    </button>
                </div>
                <div class="w3-col w3-container s12 m12 l12">
                    <br/>
                    <br/>
                    <br/>
                    <br/>    
                </div>
                
                <address class="webpad-color-yellow" style="padding-left: 1rem;">
                    This app is created by Oleksandr Kryvonos, a developer from Odesa, Ukraine. <br/>

                    if you have any suggestions feel free to e-mail me: <a href="mailto:oleksandr.kryvonos.ods.ua@gmail.com">oleksandr.kryvonos.ods.ua@gmail.com</a><br/>
                </address> 
                <br/>
                <h2 style="padding-left: 1rem;"><a style="color: rgb(132, 191, 255);" href="/privacy_policy.html">Privacy policy</a></h2>
                
            </div>
        </div>
        <div class="" style="display: none; width: 100%;" data-bind="visible: !$root.PromoVisible()">
            <div style="width: 100%; padding-top: 3rem; padding-bottom: 10rem;" class="webpad-search-result-area">
                <div class="w3-row" >
                    <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen">
                    </div>
                    <div  class="w3-col w3-container s12 m8 l6 webpad-text-column"  data-bind="if: ReversedListOfCards()">
                        <div style="" data-bind="template: { name: 'show-more-template' } " ></div>
                        <div class="w3-row" id="cards-list-reversed"  
                            data-bind="template: 
                                { 
                                    name: 'card-template',
                                    foreach: ReversedListOfCards(),
                                    afterRender: $root.cardAfterRender
                                } ">

                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div 
            class="webpad-search-absolute-position" 
            style="display: none; bottom: 0rem; margin-bottom: 0.2em;" 
            data-bind="visible: !$root.PromoVisible() && typeof($root.toBeEdited()) === 'undefined'">
            <div class="w3-row">
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                    <span style="float: right;" data-bind="if: $root.stackSearchNotesQuery().length > 0">
                        <div class="webpad-button-no-border" data-bind=" click: $root.rollbackSearchNotesQuery">
                            <span lass="webpad-brightness-dimmed" style="color: aliceblue; vertical-align: middle;" data-bind="text: $root.stackSearchNotesQuery().length">
                            </span>
                            <img src="svg/history.svg" class="webpad-edit-pencil" alt="create"/> 
                        </div>
                    </span>
                    <span style="float: right;" data-bind="if: $root.stackSearchNotesQuery().length === 0 && $root.SearchNotesQuery().trim().length > 0">
                        <div class="webpad-button-no-border" data-bind=" click: $root.rollbackSearchNotesQuery">
                            <img src="svg/history.svg" class="webpad-edit-pencil" alt="create"/> 
                        </div>
                    </span>
                </div>
                <div class="w3-col w3-container s12 m8 l6 webpad-hide-on-small-screen" style="font-size: 1.4rem;">
                    <input 
                        placeholder="create or search note ..." 
                        class="webpad-search-bar webpad-search-bar-adjusted"
                        type="text" 
                        data-bind="
                            textInput: $root.SearchNotesQuery,
                            event: {keypress: $root.searchBarKeyPress}
                            " 
                    /> 
                </div>
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    <span style="float: left;" data-bind="if: $root.SearchNotesQuery().trim().length > 0">
                        <div class="webpad-button-no-border" data-bind=" click: $root.CreateNoteFromSearchQuery">
                            <img src="svg/plus.svg" class="webpad-edit-pencil" alt="create"/> 
                        </div>
                    </span>
                    &NonBreakingSpace;

                </div>
                <div class="w3-col w3-container s12 m8 l6 webpad-hide-on-large-screen" style="font-size: 1.4rem; margin: 0px; padding: 0px;">
                    <div class="w3-row">
                        <div class="w3-col w3-container s6 webpad-hide-on-large-screen" style="font-size: 2rem;">
                            <span data-bind="if: $root.stackSearchNotesQuery().length > 0">
                                <div class="webpad-button-no-border" data-bind=" click: $root.rollbackSearchNotesQuery">
                                    <span lass="webpad-brightness-dimmed" style="color: aliceblue; vertical-align: middle;" data-bind="text: $root.stackSearchNotesQuery().length">
                                    </span>
                                    <img src="svg/history.svg" class="webpad-edit-pencil" alt="create"/> 
                                </div>
                            </span>
                            <span data-bind="if: $root.stackSearchNotesQuery().length === 0 && $root.SearchNotesQuery().trim().length > 0">
                                <div class="webpad-button-no-border" data-bind=" click: $root.rollbackSearchNotesQuery">
                                    <img src="svg/history.svg" class="webpad-edit-pencil" alt="create"/> 
                                </div>
                            </span>
                        </div>
                        <div class="w3-col w3-container s6  webpad-hide-on-large-screen" style="font-size: 2rem;">
                            <span data-bind="if: $root.SearchNotesQuery().trim().length > 0">
                                <div class="webpad-button-no-border" style="float: right;" data-bind=" click: $root.CreateNoteFromSearchQuery">
                                    <img src="svg/plus.svg" class="webpad-edit-pencil" alt="create"/> 
                                </div>
                            </span>
                        </div>
                        <div class="w3-col w3-container s12 webpad-hide-on-large-screen" style="font-size: 1.4rem;">
                            <input 
                                placeholder="create or search note ..." 
                                class="webpad-search-bar webpad-search-bar-full-width"
                                type="text" 
                                data-bind="
                                    textInput: $root.SearchNotesQuery,
                                    event: {keypress: $root.searchBarKeyPress}
                                    " 
                            />
                        </div>
                    </div>
                    
                    
                    
                            
        
                    
                </div>
            </div>
            
            
        
        </div>
        <div 
            class="webpad-search-absolute-position" 
            style="display: none; bottom: 0rem; margin-bottom: 0.2em;"
             data-bind="
                if: typeof($root.cardUnderEdit()) !== 'undefined' && typeof($root.toBeEdited()) !== 'undefined',
                visible: typeof($root.toBeEdited()) !== 'undefined'">
             <div class="w3-row">
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                </div>
                <div class="w3-col w3-container s12 m8 l6" data-bind="with: $root.cardUnderEdit()">
                    <!-- ko template: { name: 'referenced-card-template', data: $data }  -->
                    <!-- /ko -->
                </div>
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                </div>
                
            </div>
            <div class="w3-row">
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                    <span style="float: right;">
                        <div class="webpad-button-no-border" data-bind=" click: $root.cancelEdit">
                            <img src="svg/times-close-menu.svg" class="webpad-edit-pencil" alt="cancel edit"/> 
                        </div>
                    </span>
                </div>
                <div class="w3-col w3-container s12 m8 l6 webpad-hide-on-small-screen" style="font-size: 1.4rem;">
                    <input 
                        placeholder="edit note ..." 
                        class="webpad-search-bar webpad-search-bar-adjusted"
                        type="text" 
                        data-bind="
                            style:
                            {
                                color: $root.cardUnderEdit().Note.color,
                            },
                            textInput: $root.toBeEdited,
                            " 
                    /> 
                </div>
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    <span style="float: left;" data-bind="if: typeof($root.toBeEdited()) !== 'undefined' && $root.toBeEdited() !== $root.cardUnderEdit().Note.text()">
                        <div class="webpad-button-no-border" data-bind=" click: $root.applyChanges">
                            <img src="svg/check.svg" class="webpad-edit-pencil" alt="apply changes"/> 
                        </div>
                    </span>
                    &NonBreakingSpace;

                </div>
                <div class="w3-col w3-container s12 m8 l6 webpad-hide-on-large-screen" style="font-size: 1.4rem; margin: 0px; padding: 0px;">
                    <div class="w3-row">
                        <div class="w3-col w3-container s6 webpad-hide-on-large-screen" style="font-size: 2rem;">
                            <span >
                                <div class="webpad-button-no-border" data-bind=" click: $root.cancelEdit">
                                    <img src="svg/times-close-menu.svg" class="webpad-edit-pencil" alt="cancel edit"/> 
                                </div>
                            </span>
                           
                        </div>
                        <div class="w3-col w3-container s6  webpad-hide-on-large-screen" style="font-size: 2rem;">
                            <span data-bind="if: typeof($root.toBeEdited()) !== 'undefined' && $root.toBeEdited() !== $root.cardUnderEdit().Note.text()">
                                <div class="webpad-button-no-border" style="float: right;" data-bind=" click: $root.applyChanges">
                                    <img src="svg/check.svg" class="webpad-edit-pencil" alt="apply changes"/> 
                                </div>
                            </span>
                        </div>
                        <div class="w3-col w3-container s12 webpad-hide-on-large-screen" style="font-size: 1.4rem;">
                            <input 
                                placeholder="edit note ..." 
                                class="webpad-search-bar webpad-search-bar-full-width"
                                type="text" 
                                data-bind="
                                    style:
                                    {
                                        color: $root.cardUnderEdit().Note.color,
                                    },
                                    textInput: $root.toBeEdited
                                    " 
                            />
                        </div>
                    </div>
                    
                    
                    
                            
        
                    
                </div>
            </div>
            
            
        
        </div>

        <div 
            class="webpad-search-absolute-position" 
            style="display: none; bottom: 0rem; margin-bottom: 0.2em;"
             data-bind="if: typeof($root.taggedOrQuotedCard()) !== 'undefined', visible: typeof($root.taggedOrQuotedCard()) !== 'undefined'">
            <div class="w3-row">
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                </div>
                <div class="w3-col w3-container s12 m8 l6" data-bind="with: $root.taggedOrQuotedCard()">
                    <!-- ko template: { name: 'referenced-card-template', data: $data }  -->
                    <!-- /ko -->
                </div>
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                </div>
                
            </div>
            <div class="w3-row">
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    &NonBreakingSpace;
                    <span style="float: right;">
                        <div class="webpad-button-no-border" data-bind=" click: $root.cancelAddingTagOrQuote">
                            <img src="svg/times-green.svg" class="webpad-edit-pencil" alt="cancel edit"/> 
                        </div>
                    </span>
                </div>
                <div class="w3-col w3-container s12 m8 l6 webpad-hide-on-small-screen" style="font-size: 1.4rem;">
                    <!-- ko if: typeof($root.taggedOrQuotedCard()) !== 'undefined' && $root.taggedOrQuotedCard().AdditionalInformationText().trim().length < 20 -->
                        <span class="webpad-brightness-dimmed webpad-button-no-border" >
                            <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                        </span>
                    <!-- /ko -->
                    <!-- ko ifnot: typeof($root.taggedOrQuotedCard()) !== 'undefined' && $root.taggedOrQuotedCard().AdditionalInformationText().trim().length < 20 -->
                        <span class="webpad-brightness-dimmed webpad-button-no-border" >
                            <img src="svg/quote-left.svg" class="webpad-edit-pencil" alt="Add information" /> 
                        </span>
                    <!-- /ko -->
                    <span style="width: calc(100% - 2em);" class="webpad-break-words-node"
                        data-bind="
                                style:
                                {
                                    color: $root.taggedOrQuotedCard().AdditionalInformationTextColor,
                                },">
                        <input 
                            placeholder="add quote" 
                            class="webpad-extra-information w3-animate-opacity"
                            type="text" 
                            data-bind="
                                textInput:  $root.taggedOrQuotedCard().AdditionalInformationText,
                                event: {keypress: $root.additionalInfoKeyPress}, 
                                hasFocus: true
                                " 
                        />
                    </span>                    
                </div>
                <div class="w3-col w3-container s0 m2 l3 webpad-hide-on-small-screen" style="font-size: 2rem; margin: 0px; padding: 0px;">
                    <span style="float: left;" data-bind="if: $root.taggedOrQuotedCard().AdditionalInformationText().trim().length > 0">
                        <div class="webpad-brightness-dimmed webpad-button-no-border" data-bind=" click: $root.AddNoteToExistingOne">
                            <img src="svg/check.svg"  class="webpad-edit-pencil" alt="Apply edit" /> 
                            <span style="color: aliceblue; font-size: 1.4rem;">
                            [Enter]
                            </span>
                        </div>
                    </span>
                    &NonBreakingSpace;

                </div>
                <div class="w3-col w3-container s12 m8 l6 webpad-hide-on-large-screen" style="font-size: 1.4rem; margin: 0px; padding: 0px;">
                    <div class="w3-row">
                        <div class="w3-col w3-container s6 webpad-hide-on-large-screen" style="font-size: 2rem;">
                            <span >
                                <div class="webpad-button-no-border" data-bind=" click: $root.cancelAddingTagOrQuote">
                                    <img src="svg/times-green.svg" class="webpad-edit-pencil" alt="cancel edit"/> 
                                </div>
                            </span>
                           
                        </div>
                        <div class="w3-col w3-container s6  webpad-hide-on-large-screen" style="font-size: 2rem;">
                            <span data-bind="if: $root.taggedOrQuotedCard().AdditionalInformationText().trim().length > 0">
                                <div class="webpad-brightness-dimmed webpad-button-no-border" style="float: right;" data-bind=" click: $root.AddNoteToExistingOne">
                                    <img src="svg/check.svg" class="webpad-edit-pencil" alt="Apply edit" /> 
                                    <span style="color: aliceblue; font-size: 1.4rem; margin-right: 0.5rem;">
                                    [Enter]
                                    </span>
                                </div>
                            </span>
                        </div>
                        <div class="w3-col w3-container s12 webpad-hide-on-large-screen" style="font-size: 1.4rem;">
                            <!-- ko if:  $root.taggedOrQuotedCard().AdditionalInformationText().trim().length < 20 -->
                                <span class="webpad-brightness-dimmed webpad-button-no-border" >
                                    <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                                </span>
                            <!-- /ko -->
                            <!-- ko ifnot: $root.taggedOrQuotedCard().AdditionalInformationText().trim().length < 20 -->
                                <span class="webpad-brightness-dimmed webpad-button-no-border" >
                                    <img src="svg/quote-left.svg" class="webpad-edit-pencil" alt="Add information" /> 
                                </span>
                            <!-- /ko -->
                            <span style="width: calc(100% - 2em);" class="webpad-break-words-node"
                                data-bind="
                                        style:
                                        {
                                            color: $root.taggedOrQuotedCard().AdditionalInformationTextColor,
                                        },">
                                <input 
                                    placeholder="add quote" 
                                    class="webpad-extra-information w3-animate-opacity"
                                    type="text" 
                                    data-bind="
                                        textInput:  $root.taggedOrQuotedCard().AdditionalInformationText,
                                        event: {keypress: $root.additionalInfoKeyPress}, 
                                        hasFocus: true
                                        " 
                                />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</body>
</html>