@{
}

 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<script language="JavaScript" type="text/javascript" src="~/js/cryptico/jsbn.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/cryptico/random.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/cryptico/hash.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/cryptico/rsa.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/cryptico/aes.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/cryptico/api.js"></script>

<script language="JavaScript" type="text/javascript" src="~/js/model_Connection.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/model_Node.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/model_ColorPreset.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/lookup.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/findNodeById.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/findEdgeById.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/defineLocalStorage.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/mainPage.js" asp-append-version="true"></script>
<script language="JavaScript" type="text/javascript" src="~/js/document_ready_ideas.js" asp-append-version="true"></script>



    <div  style="text-align: center; width: 100%; margin-top: 20mm; display: inline-block;">
        <span class="webpad-node webpad-green">WebPad</span> <span class="webpad-node webpad-orange"><a href="~/about">about</a></span>
        <span data-bind="if: $root.publicCryptoKey() != null  &&
                    $root.publicCryptoKey() != undefined &&
                    $root.publicCryptoKey().trim() != '' ">

                    <div data-bind="ifnot: $root.SyncOptionsVisible" >
                        <button class="webpad-node webpad-green" data-bind="click: $root.OpenSyncOptions">Open Sync</button>
                    </div>
                    <div data-bind="if: $root.SyncOptionsVisible" >
                        <button class="webpad-node webpad-orange" data-bind="click: $root.HideSyncOptions">Hide Sync</button>
                    </div>
                    <div data-bind="if: $root.SyncOptionsVisible" >
                        <span>Your check code:&nbsp;</span>
                        <span data-bind="text: $root.publicCryptoKey().substring(0, 10) + '...' "></span>
                        <br>
                        <button data-bind="click: $root.GetOneTimeSynchronizationToken"> Generate sync token</button>
                        <br>
                        <span>Share this sync token:&nbsp;</span>
                        <span data-bind="text: $root.TokenToShare"></span>
                        <br>
                        <input 
                                placeholder="Input sync token..." 
                                style="width: 30vw; min-width: 150px;" 
                                type="text" 
                                data-bind="
                                    textInput: $root.SynchronizationToken,
                                    " />
                        <br>
                        <button data-bind="click: $root.SynchronizeUsingToken"> Use sync token</button>
                        <br>
                        <span>Received check code:&nbsp;</span>
                        <span data-bind="text: $root.ReceivedPublicKey().substring(0, 10) + '...' "></span>
                        <span data-bind="if: $root.ReceivedPublicKey() != null  &&
                                $root.ReceivedPublicKey() != undefined &&
                                $root.ReceivedPublicKey().trim() != '' " >
                                <br>
                                Do you trust to this ? 
                                <button data-bind="click: $root.AddReceivedPublicKeyToTrusted"> Trust</button>
                                <button data-bind="click: $root.RemoveReceivedPublicKey"> No-no-no</button>
                        </span>
                        <br>
                    </div>

        </span>
        
        

        <br>
        <span data-bind="ifnot: 
                (
                    $root.NoteToEdit() != null 
                    && $root.NoteToEdit() !=  undefined
                )
                ||
                ( 
                    $root.EdgeToEdit() != null 
                    && $root.EdgeToEdit() != undefined
                )" >
            <span class="webpad-node webpad-yellow">
                <input 
                    placeholder="Create or search note..." 
                    style="width: 30vw; min-width: 150px;" 
                    type="text" 
                    data-bind="
                        textInput: $root.SearchNotesQuery,
                        " 
                />

            </span>
            
            <span data-bind="if: $root.SearchNotesQuery().trim().length > 0">
                <button data-bind="click: $root.CreateNoteFromSearchQuery">Create</button>
                <br>
                <br>
                <span data-bind="foreach: FilteredNodesFirstElements">
                    <button data-bind="click: $root.focusOnNode, text: 'goto: ' + text().substring(0, 10) + ' ...'"></button>
                </span>
                <span data-bind="if: (FilteredNodes().length - FilteredNodesFirstElements().length) > 0">
                    <span data-bind="text: (FilteredNodes().length - FilteredNodesFirstElements().length) + 'more'"></span>
                </span>
                
            </span>
            
            
            
        </span>
        
        <span data-bind="if: $root.NoteToEdit() != null && $root.NoteToEdit() !=  undefined " >
            <button data-bind="click: $root.RemoveNoteUnderEdit, text: 'Remove note'"></button>
            <input 
                placeholder="Edit note..." 
                style="width: 30vw; min-width: 150px;" 
                type="text" 
                data-bind="
                    textInput: $root.textToEdit,
                    " />
            <span data-bind="if: $root.previousConnectFrom() != null && $root.previousConnectFrom() !=  undefined " >
                <span data-bind="ifnot: $root.previousConnectFrom() == $root.NoteToEdit()" >
                    <br>
                    <button data-bind="click: $root.ConnectPreviousWithCurrent, text: ('Connect from: ' + $root.previousConnectFrom().text() )"></button>
                </span>
                
            </span>
            
            <br>
            
            
            <button data-bind="click: $root.CreateNoteFromDestinationSearchQuery">Add connection</button>
            <span data-bind="foreach: $root.ColorPresets">
                <button data-bind="click: $root.ColorNode, style: { 'background' : $data.Background(), color: $data.Color() }">Highlight</button>
            </span>
            
            
        </span>   

        <span data-bind="if: $root.EdgeToEdit() != null && $root.EdgeToEdit() != undefined">
            <button data-bind="click: $root.RemoveConnectionUnderEdit, text: 'Remove connection'"></button>
            <input 
                placeholder="Edit edge..." 
                style="width: 30vw; min-width: 150px;" 
                type="text" 
                data-bind="
                    textInput: $root.textToEdit,
                    " />

        </span>
        
    </div>
<!-- <div
    style="position: relative; height: auto; width: 100%;"
    data-bind="foreach: Notes"
    >
        <div class="disable-selection webpad-node" data-bind=
            "style:
                { 
                    position: 'relative',
                    color: $data.color,
                    background: $data.background,
                    
                }, text: $data.text()">
        </div>
</div> -->


<div class="w3-container" >
    <div class="w3-row" data-bind="foreach: Connections">
        <div class="w3-col w3-container s12 m6 l4">
            <h2>
                <span
                     class="webpad-node" data-bind=
            "
                style:
                {
                    color: $data.Source.color,
                    background: $data.Source.background,
                },
                text:$data.Source.text()">
                </span>
                </h2>
            <div class="webpad-inline-flex">
                <span class="webpad-node webpad-orange" data-bind="text: $data.label()"> </span>
                <span class="webpad-node" data-bind="
            style:
                {
                    color: $data.Destination.color,
                    background: $data.Destination.background,
                },text: $data.Destination.text()">
                </span>
            </div>
        </div>
    </div>
</div>

