<!DOCTYPE html>
<html>

<lisperanto-just-paste src="html/head.html" />

<lisperanto-just-paste src="html/text-with-dictionary-light-template.html" />




<script type="text/html" id="referenced-operation-template">
    <div
        class="webpad-sky-frame webpad-brightness-dimmed"
        style=" font-size: 1rem; margin-left: 1rem; margin-right: 1rem; padding-right: 0.5rem; padding-left: 0.5rem;" >
            <!-- ko template: { name: 'text-with-dictionary-light-template', data: $data }  -->
            <!-- /ko -->
    </div>
    <div class="webpad-hide-on-small-screen" style="height: 1rem;">
    </div>
</script>




<script type="text/html" id="operation-template">
        <div class="w3-col w3-container s12 m12 l12 webpad-operation-card prevent-select" style="position: absolute;" data-bind="style : { bottom: $data.globalBottom}, attr: { id: $index() + '-card'}">
            <div 
                style="font-size: 1.3rem;" 
                class="webpad-card w3-animate-opacity" 
                 >
                 <!-- data-bind="dblclick: $data.switchToolBoxVisibility" -->
                <span>
                    <div style="font-size: 0.6rem; text-align: left;"><span class="w3-animate-opacity" style="color: rgb(221, 150, 63);" data-bind="text: $data.createDateToOrder"></span></div>
                    <span data-bind="if: name === 'quote' || name === 'quote-edit' " >
                        <div class="webpad-brightness-dimmed " data-bind="css:{ 'webpad-quote-edit' : name === 'quote-edit', 'webpad-quote' : name === 'quote'}">
                            <!-- ko template: { name: 'text-with-dictionary-light-template', data: $data.quoted }  -->
                            <!-- /ko -->
                            <div style="margin-top: 0.5rem;">
                                <span  class="w3-animate-opacity webpad-brightness-dimmed">
                                    <span class="webpad-button-no-border webpad-brightness-dimmed webpad-golden-frame prevent-select cursor-pointer" 
                                        style="font-size: 1.4rem; padding-left: 0.5rem; padding-right: 0.5rem; " data-bind=" click: $root.jumpToCardFromQuotedOperation">
                                        <img src="svg/search.svg" class="webpad-edit-pencil" alt="jump to quote source"/> 
                                    </span>
                                    <span
                                        class="webpad-brightness-dimmed webpad-button-no-border webpad-golden-frame prevent-select cursor-pointer" 
                                        style="font-size: 1.4rem;"
                                        data-bind=" click: $root.beginToQuoteQuotedText">
                                        <span class="" style="color: #84bfff; vertical-align: middle; margin-left: 0.5rem;" alt="hashTagBeginSymbol"></span>
                                        <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                                        <img src="svg/plus.svg" class="webpad-edit-pencil" style="margin-right: 0.5rem;" alt="Edit"/> 
                                    </span>
                                </span>
                            </div>
                        </div>
                    </span>
                    <span >
                        <!-- ko template: { name: 'text-with-dictionary-light-template', data: $data }  -->
                        <!-- /ko -->
                        
                        <div style="margin-top: 0.5rem;">
                            <span  class="w3-animate-opacity webpad-brightness-dimmed">
                                <span 
                                    class="webpad-brightness-dimmed webpad-button-no-border webpad-glass-button webpad-golden-frame prevent-select cursor-pointer" 
                                    style="font-size: 1.4rem;"
                                    data-bind=" click: $root.jumpToCardFromOperation">   
                                    <img src="svg/search.svg" class="webpad-edit-pencil" style="margin-left: 0.5rem; margin-right: 0.5rem;"  alt="jump to quote source"/> 
                                    <span class="" style="color: #84bfff; vertical-align: middle;" alt="hashTagBeginSymbol"></span>
                                </span>
                                <span class="webpad-brightness-dimmed webpad-button-no-border webpad-golden-frame prevent-select cursor-pointer" 
                                    style="font-size: 1.4rem;"
                                    data-bind=" click: $root.beginToQuoteEditText">
                                    <span class="" style="color: #84bfff; vertical-align: middle; margin-left: 0.5rem;" alt="hashTagBeginSymbol"></span>
                                    <img src="svg/pencil-alt-yellow.svg" class="webpad-edit-pencil" style="margin-left: 0.5rem; margin-right: 0.5rem;" alt="Edit"/> 
                                </span>
                                <span
                                    class="webpad-brightness-dimmed webpad-button-no-border webpad-golden-frame prevent-select cursor-pointer" 
                                    style="font-size: 1.4rem;"
                                    data-bind=" click: $root.beginToQuoteText">
                                    <span class="" style="color: #84bfff; vertical-align: middle; margin-left: 0.5rem;" alt="hashTagBeginSymbol"></span>
                                    <img src="svg/quote-left-sky.svg" class="webpad-edit-pencil" alt="Add information" /> 
                                    <img src="svg/plus.svg" class="webpad-edit-pencil" style="margin-right: 0.5rem;" alt="Edit"/> 
                                </span>
                                
                            </span>
                        </div>
                    </span>
                </span>
            </div>
            
            
            
        </div>
</script>

<script type="text/html" id="show-more-template">
        <div class="w3-row" data-bind="if: $root.hidden_operations_count() > 0">
            <div class="w3-col w3-container s12 m12 l12">
                <span style="font-size: 2rem;">
                    <button  class="webpad-node webpad-green" 
                        data-bind=
                            "click: $root.ExtendCurrentResultLimit,
                            text: 'Show more items ( ' + $root.hidden_operations_count() + ' hidden)'">
                    </button>
                </span>
            </div>
        </div>
</script>


<body class='night' 
    style="background-color: #000000; margin: 0; " 
    data-bind="style: { background: $root.backgroundColor() }" 
    onresize="lookup.on_resize()"
    onload="lookup.body_on_load()"
    onwheel="lookup.bodyOnWheel()"
    ontouchmove="lookup.bodyOnTouchMove()"
    ontouchend="lookup.bodyOnTouchEnd()"
    ontouchcancel="lookup.bodyOnTouchEnd()"
    ontouchleave="lookup.bodyOnTouchEnd()"
    onmousedown="lookup.body_onmousedown()"
    onmouseup="lookup.body_onmouseup()"
    onmousemove="lookup.body_onmousemove()"
    onmouseleave="lookup.body_onmouseleave()"
    >
        <div vocab="https://schema.org/"
            typeof="WebApplication" style="display: none;">
            <span property="name" >WebPad</span>
            <span property="description">wiki, personal wiki.</span>
            <span property="accessMode">textual</span>
            <div property="offers" typeof="Offer">
                Price: $<span property="price">0.00</span>
                <meta property="priceCurrency" content="USD" />
                <span property="description">personal wiki that cares about privacy.</span>
            </div>
            <span property="operatingSystem">Windows</span>
            <span property="operatingSystem">Linux</span>
            <span property="operatingSystem">MacOs</span>
            <span property="operatingSystem">Android</span>
            <span property="image">https://webpad.com.ua/WebPad_logo_500.png</span>
        
        </div>
        
        <div vocab="https://schema.org/"
            typeof="Organization" style="display: none;">
            <span property="url" >https://webpad.com.ua</span>
            <span property="logo">https://webpad.com.ua/WebPad_logo_500.png</span>
        </div>
        
        
        
        <lisperanto-just-paste src="html/menu-header.html" />
        
        <lisperanto-just-paste src="html/menu.html" />

        <div id="webpad-search-results-absolute-position"  class="w3-col w3-container s12 m8 l6 webpad-text-column"  style="height: calc(100% - 8rem); position: absolute; margin: auto; overflow-x: hidden; overflow-y: hidden;">
            <div id="show-more" style="position: absolute;" data-bind="template: { name: 'show-more-template' } " ></div>
            <!-- ko template: 
                    { 
                        name: 'operation-template',
                        foreach: LimitedFilteredOperations,
                        afterRender: $root.cardAfterRender
                    } -->
            <!-- /ko -->
        </div>

        

        <lisperanto-just-paste src="html/search-bar.html" />
</body>
</html>