@{
    ViewData["Title"] = "Notes";
}
<script>
    function NoteModel(data, allConnections)
    {
        var self = this;
        self.id = data.id;
        self.text = ko.observable(data.text);
        self.text
            .subscribe(function() {
                var temp = toJsWithoutFunctions(self);
                $.ajax({
                    type: "POST",
                    url: "Home/UpdateNote",
                    data: {
                        note: temp
                    },
                    success: function(response) {
                    },
                    dataType: "json"
                });
            });

        self.allConnections = allConnections;

        self.DataConnectedWith = data.connectedWith;

        self.MyComputedConnections = ko.pureComputed(function() {


                return ko.utils.arrayFilter(self.allConnections(), function(conn) {
                    return conn.Source.id == self.id;
                }); 
              
        });
    };

    function ConnectedNotesModel(a, b)
    {
        var self = this;
        self.Source = a;
        self.Destination = b;
    };

    function toJsWithoutFunctions(data) {
        var mapping = {
            'ignore': ["allConnections", "RawViewIsEnabled", "DataConnectedWith", "MyComputedConnections"]
        }
        var model = ko.mapping.toJS(data, mapping);
            for(var x in model) {
                if(typeof(model[x]) === "function") {
                    model[x] = null;
                }
            }
        return model;
    };

    function ConnectedNotesViewModel(noteAddedCallback, noteConnectedCallback, noteUpdatedCallback, noteRemovedCallback)
    {
        var self = this;
        
        self.Notes = ko.observableArray([]);
        // self.Notes.subscribe(function(changes) {
        //     console.log(changes);
        //     // add call to callback
        // }, null, "arrayChange");
        self.Connections = ko.observableArray([]);

        self.Notes.subscribe(function(changes) {
            console.log(changes);
            if(changes && changes.length > 0)
            {
                $.each(changes, function(index, value) {
                    if(noteAddedCallback && typeof(noteAddedCallback) == "function") {
                        if(value.status == "added") {
                            noteAddedCallback(value.value);
                        }
                    }
                    
                        

                    });
            }
            // add call to callback
        }, null, "arrayChange");
        

        self.RetrieveDataFromServer = function() {
            $.ajax({
                type: "POST",
                url: "Home/RetrieveAllNotes",
                data: {
                    
                },
                success: function(data) {
                    var dictionary = {};
                    var toAdd = ko.utils.arrayMap(data, function(elem) {
                        dictionary[elem.id] = new NoteModel(elem, self.Connections);
                        return dictionary[elem.id];
                    });
                    ko.utils.arrayPushAll(self.Notes, toAdd);

                    $.each(self.Notes(), function(index, value) {
                        var valueConnections = ko.utils.arrayMap(value.DataConnectedWith, function(elem) {
                            var Destination = dictionary[elem.id];
                            return new ConnectedNotesModel(value, Destination);
                        });
                        ko.utils.arrayPushAll(self.Connections, valueConnections );

                    });

                },
                dataType: "json"
            });

        };

        self.connectFrom = ko.observable(null);

        self.CreateNote = function() {
            $.ajax({
                type: "POST",
                url: "Home/CreateNote",
                success: function(data) {
                    var toAdd = new NoteModel(data, self.Connections);
                    self.Notes.push(toAdd);

                },
                dataType: "json"
            });
        };

        self.SelectFrom = function(data) {
            self.connectFrom(data);
        };

        self.CancelSelectFrom = function() {
            self.connectFrom(null);
        };

        self.ConnectNotes = function(data) {
            $.ajax({
                type: "POST",
                url: "Home/ConnectNotes",
                data: {
                    from: toJsWithoutFunctions(self.connectFrom),
                    to: toJsWithoutFunctions(data)
                },
                success: function(response) {
                    self.Connections.push(new ConnectedNotesModel(self.connectFrom(), data));
                    self.connectFrom(null);

                },
                dataType: "json"
            });
        };

        

    };

    $(document).ready(function()
    {
        
        // create an array with nodes
        var nodes = new vis.DataSet([
            // {id: 1, label: 'Node 1'},
            // {id: 2, label: 'Node 2'},
            // {id: 3, label: 'Node 3'},
            // {id: 4, label: 'Node 4'},
            // {id: 5, label: 'Node 5'}
        ]);

        // create an array with edges
        var edges = new vis.DataSet([
            // {from: 1, to: 3},
            // {from: 1, to: 2},
            // {from: 2, to: 4},
            // {from: 2, to: 5},
            // {from: 3, to: 3}
        ]);

        // create a network
        var container = document.getElementById('mygraph');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
        var network = new vis.Network(container, data, options);

        var viewModel = new ConnectedNotesViewModel(function (added) {
            nodes.add( {id: added.id, label: added.text()})
        });
        ko.applyBindings(viewModel);
        viewModel.RetrieveDataFromServer();



        
    });
</script>
<script type="text/html" id="note-template">
    <li>
        <span data-bind="if: $root.connectFrom() != null && $root.connectFrom().id != id">
            <button data-bind="click: $root.ConnectNotes" >To</button>
        </span>
        <span data-bind="if: $root.connectFrom() != null && $root.connectFrom().id == id">
            <span>From</span>
        </span>
        <span>
            <input data-bind="value: text, valueUpdate: 'keypress keyup'"></input>
            <ul>
                <!-- ko foreach: MyComputedConnections -->
                    <li>
                        <span> => </span>
                        <span data-bind="text: Destination.text"></span>
                    </li>
                <!-- /ko -->
                <li>
                    <span data-bind="if: $root.connectFrom() != null && $root.connectFrom().id == id">
                        <button data-bind="click: $root.CancelSelectFrom">Cancel</button>    
                    </span>
                    <span data-bind="if: $root.connectFrom() == null">
                        <button data-bind="click: $root.SelectFrom" >Connect</button>
                    </span>
                    <span data-bind="if: $root.connectFrom() != null && $root.connectFrom().id != id">
                        <button data-bind="click: $root.SelectFrom" >Change From</button>
                    </span>
                </li>
            </ul>
        </span>
    </li>
</script>
<div style="margin: 16px;">
    <div class="row">
        <div class="col-md-3">
            <div style="overflow-y: scroll; height: 550px;">
                <ul data-bind="template: {name: 'note-template', foreach: Notes} ">
                </ul>
            </div>
            <button data-bind="click: $root.CreateNote">Create note</button>
        </div>
        <div class="col-md-9">
            <div id="mygraph" style="height: 550px; width: 100%;">

            </div>

        </div>
            
    </div>
</div>
