
<style>
html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: yellow;
}
</style>
<script>

function ViewModel_nasademo() {
	var self = this;

    self.statuses = ko.observableArray([]);

    self.nasa_lookup = {};

    self.selected_status = ko.observable(false);

    self.available_ids = ko.observableArray([]);

	self.RetrieveData = function () {


		$.ajax({
			type: "POST",
			url: "retrievestatuses",
			data: {
			},
			success: function (data) {

				// populate

				
                self.statuses.removeAll();

                var toAdd = ko.utils.arrayMap(data.statuses, function(elem) 
                {
                    var found = self.nasa_lookup[elem.id];
                    if(typeof(found) === 'undefined')
                    {
                        self.nasa_lookup[elem.id] = ko.observable(elem.status);
                    }
                    else
                    {
                        found(elem.status);
                    }
                    return elem.id;
                });
                ko.utils.arrayPushAll(self.statuses, toAdd);

				console.log('success ');
			},
			error: function () {
				console.log("Publish/ error");
			},
			complete: function () {
			},
			dataType: "json"
		});
	};

    self.repopulate_ids = function()
    {
        self.available_ids.removeAll();
        for(var k in self.nasa_lookup)
        {
            var elem = self.nasa_lookup[k];
            self.available_ids.push(k);
        }
    };

    self.selected_id = ko.observable();
    self.selected_status = ko.computed(function()
    {
        var check = self.selected_id();
        if(typeof(check) ==='undefined' || check == null)
        {
            return false;
        }
        else
        {
            return self.nasa_lookup[self.selected_id()]();
        }
        
    });

    self.timerCheckStatuses = function()
    {
        self.RetrieveData();
        setTimeout(self.timerCheckStatuses, 200);
    };

	
};


document.addEventListener("DOMContentLoaded", function (event) {
	var viewModel = new ViewModel_nasademo();
	ko.applyBindings(viewModel);
	viewModel.RetrieveData();
    viewModel.timerCheckStatuses();
});
</script>
<button data-bind="click: $root.repopulate_ids">Recheck</button>
<div data-bind='foreach: $root.statuses'>
    <div data-bind="text: $data">

    </div>
</div>

<select data-bind="options: available_ids,
                   value: selected_id,
                   optionsCaption: 'Choose...'"></select>
<span data-bind="if: $root.selected_status"
>
<div class='full-height' style=" background: green;"  >
    true
</div>
</span>
<span data-bind="ifnot: $root.selected_status"
>
<div class='full-height' style=" background: red;"  >
    false
</div>
</span>