@{
}
<style>
    body 
    {
        background-color:#333333;
    }
    a
    {
        color: inherit;
    }
    .webpad-node 
    {
        border-radius: 3mm;
        padding-left: 2mm;
        padding-right: 2mm;
        padding-top: 2mm;
        padding-bottom: 2mm;
        min-height: 5mm;
        min-width: 5mm;
        font-size: 5mm;
        width: max-content;
    }
    .disable-selection 
    {
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

    .webpad-orange
    { 
        background: #ff5e00;
        color: #000000;
    }

    .webpad-purple
    { 
        background: #6a1b9a;
        color: #ffffff;
    }

    .webpad-green
    { 
        background: #19bd11;
        color: #000000;
    }

    .webpad-yellow
    { 
        background: #f8df00;
        color: #000000;
    }

    .webpad-left
    {
        margin-left: 7mm;
    }

    .webpad-right
    {
        margin-right: 7mm;
    }

</style>

<div style="text-align: center; width: 100%; margin-top: 10mm;">
    <div style="display: inline-block;">
        <div class="disable-selection webpad-node webpad-purple webpad-right">structure ideas</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">infinite working space</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">mini-notes</div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">instant save</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">private and secure</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">multiple devices</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">no-login required</div>

        <div class="disable-selection webpad-node webpad-purple webpad-left">
            <a 
                href="~/TryNow"
            >
            try it now
            </a>
        </div>
    </div>
</div>
