@{
}


<div style="text-align: center; width: 100%; margin-top: 10mm;">
    <div style="display: inline-block;">
        <div class="disable-selection webpad-node webpad-purple webpad-right">structure ideas</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">infinite working space</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">mini-notes</div>

        <div class="disable-selection webpad-node webpad-orange webpad-left">instant save</div>
        <div class="disable-selection webpad-node webpad-purple webpad-right">private and secure</div>
        <div class="disable-selection webpad-node webpad-green webpad-left">multiple devices</div>
        <div class="disable-selection webpad-node webpad-yellow webpad-right">no-login required</div>

        <div class="disable-selection webpad-node webpad-purple webpad-left">
            <a 
                href="~/TryNow"
            >
            try it now
            </a>
        </div>
    </div>
</div>
