
body {
    margin: 0px;
    background-color:#333333;
}


.webpad-orange
{ 
    background: #ff5e00;
    color: #000000;
}

.webpad-blue-print
{ 
    background: #1a65b7;
    color: #ffffff;
}

.webpad-purple
{ 
    background: #6a1b9a;
    color: #ffffff;
}

.webpad-green
{ 
    background: #19bd11;
    color: #000000;
}

.webpad-yellow
{ 
    background: #f8df00;
    color: #000000;
}

.webpad-node 
{
    border-radius: 3mm;
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    min-height: 15mm;
    min-width: 9mm;
    box-sizing: border-box;
    display: inline-block;
    font-size: 7mm;
}

.webpad-card
{
    width: 70mm;
    min-height: 70mm;
    border-width: 2mm;
    border-color: #ff5e00;
}

.webpad-inline
{
    display: inline;
}

.webpad-inline-flex
{
    display: inline-flex;
}

button
{
    background: inherit;
    color: inherit;
}
input
{
    background:inherit;
    color: inherit;
}
a 
{
    color: inherit;
    background: inherit;
    text-decoration: underline;
}
.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.webpad-left
{
    margin-left: 7mm;
}
.webpad-left-2x
{
    margin-left: 14mm;
}

.webpad-right
{
    margin-right: 7mm;
}
.webpad-right-2x
{
    margin-right: 14mm;
}